@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<MRTestProject.Models.CategoryViewModel>

@{
    ViewData["Title"] = "Сategories";
}

<h1>Category</h1>

<p>
    @Html.ActionLink("Create new category", "Create", "Category")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Category", new { CategoryId = item.CategoryId })

                        @Html.ActionLink("Delete", "Delete", "Category", new { id = item.CategoryId })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
